blueness
abcli
articraft
IPython
beautifulsoup4
boto3
bs4
Flask
folium
geojson
geopandas
matplotlib
notebooks_and_scripts
# https://platform.openai.com/docs/quickstart?context=python
openai
opencv-python
pymysql
pyyaml
pylint
pytest
python-dotenv[cli]
requests
scikit-image
tqdm