<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>
      <a href="./" title="Home">{{ h1 }}</a>
    </h1>
    <form action="/VisuaLyze" method="post" enctype="multipart/form-data">
      <div style="display: flex">
        <div style="margin-right: 20px">
          <label for="prompt"><h2>Prompt</h2></label>
          <textarea id="prompt" name="prompt" rows="8" cols="50">
{{ prompt }}</textarea
          >
        </div>
        <div>
          <label for="description"><h2>Description</h2></label>
          <textarea id="description" name="description" rows="8" cols="50">
{{ description }}</textarea
          >
        </div>
      </div>

      <div style="display: flex; align-items: center; margin-top: 10px">
        <label for="data_filename" style="margin-right: 10px"
          ><h2>data filename</h2></label
        >
        <input
          type="text"
          id="data_filename"
          name="data_filename"
          value="{{ data_filename }}"
          style="margin-right: 20px"
        />

        <input
          type="submit"
          value="VisuaLyze"
          style="margin-left: 20px; padding: 0 10px; height: fit-content"
        />
      </div>
    </form>
    <br />

    <div style="margin-top: 20px">{{ dataframe_html | safe }}</div>

    <hr />

    {{ status | safe }}

    <hr />
    last update: {{ timestamp }} |
    <a href="{{ github_url }}" title="{{ github_url }}">github</a>
  </body>
</html>
