<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>{{ h1 }}</h1>
    <form action="/process" method="post">
      <label for="description">description:</label><br />
      <textarea id="description" name="description" rows="1" cols="50">
{{ description }}</textarea
      >
      <textarea id="data" name="data" rows="8" cols="50">{{ data }}</textarea>
      <br />
      <input type="submit" value="Process" />
    </form>
    <br />
    <hr />
    {{ text }}
  </body>
</html>
