<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1><a href="./" title="Home">{{ h1 }}</a></h1>
    <form action="/VisuaLyze" method="post">
      <label for="prompt"><h2>prompt</h2></label>
      <textarea id="prompt" name="prompt" rows="2" cols="50">
{{ prompt }}</textarea
      >
      <label for="description"><h2>description</h2></label>
      <textarea id="description" name="description" rows="8" cols="50">
{{ description }}</textarea
      >
      <br />
      <input type="submit" value="VisuaLyze" />
    </form>
    <br />
    <hr />
    {{ log }}
  </body>
</html>
